* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(150deg, #ff0000, #0000ff);
    height: 100vh;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    position: absolute;
    background-color: #2e2e2ee0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #636363;
    color: #ffffff;
}

button:hover {
    background-color: #4b4b4b;
}

.row-size {
    height: 102px;
    background-color: #ff7300;
}

.row-size:hover {
    background-color: #d86b11;
}

.col-size {
    width: 102px;
}

.tela {
    background-color: #ffffff;
    height: 30px;
    color: #000;
    font-size: 25px;
    text-align: end;
    margin: 3px;
}